@import "../../../assets/css/variables.css";

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  background: var(--main-nav-color);
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  gap: 60px;
}

.right, .left {
  margin: 20px;
  display: flex;
  align-items: center;
}

.right {
  gap: 20px;
}

.spacer {
  flex: 1;
}

a.button {
  font-size: 18px;
  font-family: var(--main-font);
  cursor: pointer;
  color: white;
  width: 10%;
}

.button:hover {
  color: darkseagreen;
}

.username {
  color: white;
  font-family: var(--main-font);
  font-size: 15px;
}

.logo {
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%
}
